.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer-text p {
  font-size: 13px;
}

.footer a {
  text-decoration: none;
}

.footer a.active {
  color: inherit;
}

.footer a:visited {
  color: inherit;
}
